// colors custom :
$warning: #ffd15b;
$secondary: #b3b3b3;
$tertiary: #7a7a7a;

// breakpoints custom :
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  2lg: 1100px,
  xl: 1200px,
  xxl: 1400px,
);
