// ******** START SECTION 2 *********** //
.section-tag {
  display: none;

  #tag {
    width: auto;
    height: 53px;

    img {
      cursor: pointer;
    }
  }
}
// ******** END SECTION 2 *********** //
